@media only screen and (min-width: 900px) {
	body:after {
		border: 0 solid #131313;
		border-width: 9px;
		bottom: -1px;
		content: "";
		display: block;
		left: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: border-width 0.3s ease-out; 
		width: 100%;
		z-index: 9990;
	}
}